<!DOCTYPE html>
<html lang="en">
<style>
    .searchBar input{
        width:100%
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameHub</title>
    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src='https://i.postimg.cc/xXxcP0ZF/LogoV1.png' border='0' width=50px height=50px alt='LogoV1' /></a>
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">GameHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between " style="padding-top:16px; margin-left:50px">
                    
                    <form width="200" asp-controller="Igrica" asp-action="Index">
                    <p>
                        <input type="text" name="SearchString" placeholder="  Unesite ime igrice ili korisnika..." style="width:300px; border-radius:10px;" />
                               <input type="submit" value="Traži" style="border-radius:10px;"/>
                    </p>
                    </form>
                 
                    <partial name="_LoginPartial" />
                </div>
     

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-danger">
        <div class="container">
            &copy; 2022 - GameHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Pravila korištenja</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
