@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model GameHub.Models.KomentarIgrica

@{
    ViewData["Title"] = "Create";
}

<h1>Kreiraj</h1>

<h4>Komentar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <textarea asp-for="Tekst" type="text" class="form-control" rows="5" id="MessageInputField" autofocus></textarea>
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocjena" class="control-label"></label>
                <input asp-for="Ocjena" class="form-control" min="1" max="10" value="10"  />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="IgricaId" class="control-label"></label>
                <input asp-for="IgricaId"  class="form-control" readonly/>
                <span asp-validation-for="IgricaId" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <input asp-for="KorisnikId" value="@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Id" class="form-control" readonly />
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:10px">
                <input type="submit" value="Kreiraj komentar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
