@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<GameHub.Models.KomentarIgrica>

@{
    ViewData["Title"] = "Komentar već postoji";
}

<h1>Vaš komentar za ovu igricu vec postoji</h1>
<h3>Mozete urediti Vaš stari komentar</h3>


<a asp-action="KomentariKorisnika" asp-route-id="@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Id">Pogledaj sve moje komentare igrica</a>
