@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 class="display-4">Dobrodošli na GameHub!</h1>
    <h3>-Pravo mjesto za najveće gaming entuzijaste-</h3>
    <form width="200">
        <p>
             
             <a asp-controller="Igrica" asp-action="Top10"><input type="button" value="Top 10 lista" class = "guestButton"/></a>
        </p>
    </form>
    <a target='_blank'><img src='https://i.postimg.cc/FFYjN7L5/background.jpg' border='0' alt='background'/></a>
</div>

