@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na GameHub!</h1>
    <h3>-Pravo mjesto za najveće gaming entuzijaste-</h3>
    <a target='_blank'><img src='https://i.postimg.cc/FFYjN7L5/background.jpg' border='0' alt='background'/></a>
</div>

