@{
    ViewData["Title"] = "Pravila korištenja";
}
<h1>@ViewData["Title"]</h1>

<p><b>Svi korisnici aplikacije GameHub se moraju pridržavati sljedećih pravila:</b></p>
<p>1. Korisničko ime (username) mora biti prikladno.</p>
<p>2. Objave i komentari korisnika ne smiju imati uvredljiv sadržaj na bilo kojoj osnovi.</p>
<p>3. Budite pristojni prema drugim korisnicima aplikacije. Više neprikladnih poruka, kao i spam će biti sankcionisani.</p>
<p>4. Slikovne objave se moraju ticati video igrica. To mogu biti screenshotovi iz igrica, kao i slike iz stvarnog
    života koje se tiču igrica (npr. slike gaming mercha i slično).
</p>
<p>5. Ako nikada niste čuli za pravilo lopate, molimo vas da napustite aplikaciju.</p>
<p><br /></p>
<p><br /></p>
<p><br /></p>
<p><b><i>Vaš Admin team.</i></b></p>